@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 219 59% 17%;
    --foreground: 210 40% 98%;
    --card: 219 59% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 219 59% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 36 100% 50%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217.2 32.6% 22.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 22.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 207 90% 68%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 27.5%;
    --input: 217.2 32.6% 27.5%;
    --ring: 36 100% 50%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 219 59% 17%;
    --foreground: 210 40% 98%;
    --card: 219 59% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 219 59% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 36 100% 50%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217.2 32.6% 22.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 22.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 207 90% 68%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 27.5%;
    --input: 217.2 32.6% 27.5%;
    --ring: 36 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
